
/* Combination of d-flex flex-column align-items-center */
.flex-centered-column {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.flex-grow {
  flex-grow: 1;
}

.min-height-100 {
  min-height: 100%;
}

.no-wrap {
  white-space: nowrap;
}
