
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Flag icons by Twitter/X, "Twemoji" https://github.com/twitter/twemoji, CC-BY-4.0 -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Open Source Project Gallery</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="index.js" type="module" defer></script>
  </head>
  <body>
    <template id="card">
      <div class="card container-fluid p-0 m-1">
        <div class="col-lg card-header justify-content-start align-items-center d-flex border-0 px-4">
          <img :src="getRepositoryIcon()" alt="" class="img card-icon me-3" style="display: block;" />
          <a class="card-title" :href="`https://github.com/${repo.owner}/${repo.repo}`">{{ `${repo.owner}`}}/<wbr>{{`${repo.repo}`}}</a>
          <div class="mx-auto"></div>
          <div class="display-flex flex-column card-repo-statistics ms-2">
            <p><i class="bi bi-person"></i> {{ getSuffixedValue(repo.contributors) }}</p>
            <p><i class="bi bi-star"></i> {{ getSuffixedValue(repo.stars) }}</p>
          </div>
        </div>
        <div class="col-lg card-block flex-grow flex-centered-column p-3">
          <p class="card-text">{{ repo.description }}</p>
        </div>
        <footer class="card-footer d-flex flex-wrap">
          <!-- TODO bg color, link with urlparams -->
          <a v-for="tag in $parent.getTags(repo)" @click="tag.type == 'language' ? $parent.selectSkill(tag.id) : $parent.selectTopic(tag.id)" class="tag rounded px-2 py-1 m-1" :class="$parent.getTagClass(tag)" href="#top">{{ tag.id }}</a>
        </footer>
      </div>
    </template>

    <div id="app">
      <div id="top" class="container p-0 d-flex flex-column">
        <div class="container border rounded mt-5 mb-3 p-3">
          <h1 class="text-center py-2">Open-source GitHub project gallery</h1>
          <p>This page is a curated list of active open-source projects on GitHub that are open to contributions. You may filter the list by language, framework, or topic to find interesting projects.</p>
          <p>Repositories shown here were found via web crawling trending pages on GitHub, filtered to active projects and later manually reviewed to be included here.</p>
          <p>During this data collection process, we've also gathered various general statistics about the most popular languages, frameworks and topics; if you're curious about current trends, check them out <a href="./statistics.html">here.</a></p>
        </div>

        <div class="container border rounded my-3">
          <div class="d-flex justify-content-center flex-wrap p-3">
            <div class="m-1">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i>
                  </span>
                </div>
                <!-- TODO indicate which properties can be searched, ex. name/desc -->
                <input v-model="searchQuery" type="text" class="form-control filtering-widget" placeholder="Search" aria-label="Search">
              </div>
            </div>
            <div class="m-1">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bi bi-wrench"></i>
                  </span>
                </div>
                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle filtering-widget" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ selectedSkill != '' ? selectedSkill : 'Languages' }}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#" @click="selectSkill('')" >Any</a>
                    </li>
                    <li v-for="(skill, index) in skills">
                      <a class="dropdown-item" href="#" @click="selectSkill(skill.name)" >{{ skill.longName ? skill.longName : skill.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="m-1">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bi bi-lightbulb"></i>
                  </span>
                </div>
                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle filtering-widget" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ selectedTopic != '' ? selectedTopic : 'Topics' }}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#" @click="selectTopic('')" >Any</a>
                    </li>
                    <li v-for="(topic, index) in topics" class="">
                      <a class="dropdown-item" href="#" @click="selectTopic(topic.name)" >{{ topic.longName ? topic.longName : topic.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="m-1">
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle settings-widget" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-gear"></i>
                </button>
                <ul class="dropdown-menu">
                  <li v-for="sortingOption in sortingModes">
                    <a class="dropdown-item" :class="{'active': sortingOption == sortingMode}" href="#" @click="sortingMode = sortingOption">Sort by {{ sortingOption }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container mb-4">
            <div class="row">
              <div v-for="repo in getRepositories()" class="col-xl-4 col-lg-6 my-1">
                <card :repo="repo"></card>
              </div>
            </div>
          </div>
        </div>

        <!-- Moves footer to bottom of viewport -->
        <div class="my-auto"></div>
        <pagefooter></pagefooter>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  </body>
</html>
