@import url("./layouts.css");
@import url("./bootstrap-overrides.css");
@import url("./cards.css");
@import url("./tags.css");

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: auto;
}

body {
  background-color: rgb(245, 245, 245); 
}

label {
  font-weight: bold;
  user-select: none;
}

span > img {
  height: 1.5em;
}

.filtering-widget {
  min-width: 220px !important;
}

.settings-widget::after {
  /* Don't show the dropdown down arrow */
  content: none;
}

canvas {
  max-height: 400px;
}
